<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-player-crud [teamName]="teamA"></app-player-crud>
    </div>

    <div class="col-md-6">
      <app-player-crud [teamName]="teamB"></app-player-crud>
    </div>

    
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <app-player-list [teamName]="teamA"></app-player-list>
    </div>
    <div class="col-md-3">
      <app-player-list [teamName]="teamB"></app-player-list>
    </div>
  </div>
</div>